.geoset-list-box{position:relative}
.geoset-list-resize{position:absolute;z-index:1;left:0;right:0;bottom:-3px;height:6px;display:flex;align-items:center;justify-content:center;cursor:ns-resize;touch-action:none;user-select:none}
.geoset-list-resize>span{width:24px;border-top:2px dotted #808080;pointer-events:none}
